table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    text-align: center;
    
}
thead{
    position: sticky; /*Travar cabecalho*/
    top: -2px;
}
thead, tfoot{
    background-color: lightgrey;
}
th, td {
    border: 1px solid black;
    padding: 8px;
  }
tr:nth-child(2n){
    background-color: rgba(10, 130, 130, 0.265);    
}